.genre-front-card-container {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 320px;

    > img {
        height: 320px;
    }

    > .genre-name {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        height: 60px;
        position: relative;

        > img {
            position: absolute;
            right: 0;
            margin-right: 20px;
            width: 25px;
            height: 25px;
        }
    }
}