@import '~bootstrap/scss/bootstrap';

.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 80%;

    .time-range {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .tracks-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 90%;
    }
}