.track-badge {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 160px;
    padding: 10px;

    &.active {
        border: 6px solid greenyellow;
    }

    > img {
        height: 160px;
    }

    > .track-name {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        height: 40px;
    }
}